<div style='background: #fff; padding: 0; font-size: 12px;'>
  <div
    style='background: #f8f6f7; width: calc(100% - 150px); max-width: 600px; margin: 0 auto; padding: 20px 40px; color: #222;'
  >
    <div style='background: #fff; padding: 20px 40px; border: 2px dotted #ddd; border-radius: 5px;'>
      <h2>Olá, <span style='color: #13b2c0;'>{{usuario.nome}}</span>!</h2>
      <p>Você solicitou a redefinição da sua senha de acesso. Clique botão abaixo para realizar a alteração:</p>
      <a
        href='{{url}}'
        target='_blank '
        style='line-height: 1.42857143; text-align: center; white-space: nowrap; cursor: pointer; border-radius: 4px; margin: 5px; background-color: #13b2c0; color: #fff; font-size: 14px; text-transform: uppercase; font-weight: 700; padding: 10px 20px; display: block; text-decoration: none;'
      >
        Redefinir senha
      </a>
      <p style='text-align: center; display: block; margin: 15px;'>
        Caso não tenha solicitado a redefinição de senha, você pode ignorar este e-mail.
      </p>
      <style type='text/css'>
        * { font-family: Verdana, Arial, sans-serif; }
      </style>
    </div>
    <p style='text-align: center; margin-bottom: 0 '>
      &copy;2023 - <b>{{app_name}}</b> | Todos os direitos reservados.
    </p>
  </div>
</div>
